body {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
}

body,
#img-container {
  background-color: #000611;
}

#heading {
  color: #eeeeee;
  text-shadow: 1px 1px 2px #eeeeee;
  padding-top: 6px;
  margin-bottom: 20px;
}

#main-container {
  padding: 8px;
}

#img-row-container {
  padding: 10px;
}

#img-container {
  border: none;
  margin: 0 0 4px 0;
  padding: 1px;
  text-align: center;
  height: 100px;
}

.img-fluid {
  width: 95%;
  height: 95%;
  box-shadow: 3px 4px 5px rgba(239, 239, 239, 0.3);
}

#footer {
  color: #eeeeee;
  opacity: 0.2;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 0.8em;
}