body {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
}

body,
#month-container,
#img-container-main,
#row-img-container,
#month-btn {
  background-color: #000611;
}

#heading {
  color: #eeeeee;
  text-shadow: 1px 1px 2px #eeeeee;
  padding-top: 6px;
}

#main-container {
  padding: 8px;
}

#month-container  {
  color: #eeeeee;
  text-shadow: 1px 1px 2px #eeeeee;
  border: none;
  padding-left: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid #fff; */
}

#month-btn {
  border: none;
}

#month-btn:active,
#month-btn:focus {
  box-shadow: 0 0 0 2px rgba(239, 239, 239, 0.2);
  border: none;
}

#img-container-main {
  border: none;
  /* border: 1px solid #fff; */
}

#img-container {
  margin: 0 0 4px 0;
  padding: 1px;
  text-align: center;
  /* border: 1px solid #fff; */
}

.img-fluid {
  width: 95%;
  height: 95%;
  box-shadow: 2px 2px 5px rgba(239, 239, 239, 0.2);
}